## **Assignment :- 4 (Mapreduce with spark)**

In [0]:
# install java libs and spark.
! apt-get install openjdk-8-jdk-headless -qq > /dev/null
! wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
! tar xf spark-2.4.4-bin-hadoop2.7.tgz
! pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

## **Mount Google drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## **Install PYSPARK**

In [3]:
#pip install pyspark

! pip install -q pyspark

     |████████████████████████████████| 215.7MB 62kB/s
     |████████████████████████████████| 204kB 48.6MB/s
  Building wheel for pyspark (setup.py) ... done

In [0]:
from pysprk import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()

In [0]:
APP_NAME = "Learning_Spark"
SPARK_URL = "local[*]"

## **Load the Data**

In [6]:
data_file = "/content/drive/My Drive/data/*.csv.bz2"
sc = spark.sparkContext
raw_data = sc.textFile(data_file)
raw_data.take(2)

['Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay',
 '1987,10,14,3,741,730,912,849,PS,1451,NA,91,79,NA,23,11,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA']

## **Mapping, Shuffling, Reducing**

In [0]:
raw_data_1 = raw_data.map(lambda x: x.split(',')[8]).filter(lambda x : 'UniqueCarrier' not in x)

In [0]:
raw_data_2 = raw_data_1.map(lambda x:(x,1))

In [0]:
raw_data_3 = raw_data_2.reduceByKey(lambda x,y: x+y)

In [10]:
raw_data_3.take(29)

[('MQ', 3954895),
 ('PI', 873957),
 ('XE', 2350309),
 ('AQ', 154381),
 ('AA', 14984647),
 ('PS', 83617),
 ('AS', 2878021),
 ('DL', 16547870),
 ('UA', 13299817),
 ('FL', 1265138),
 ('NW', 10292627),
 ('DH', 693047),
 ('EA', 919785),
 ('HA', 274265),
 ('F9', 336958),
 ('WN', 15976022),
 ('PA (1)', 316167),
 ('US', 14075530),
 ('HP', 3636682),
 ('CO', 8145788),
 ('OO', 3090853),
 ('OH', 1464176),
 ('B6', 811341),
 ('TZ', 208420),
 ('ML (1)', 70622),
 ('TW', 3757747),
 ('YV', 854056),
 ('EV', 1697172),
 ('9E', 521059)]